<!DOCTYPE html>
<html>
{% load static %}
<head>
    <title>HRM</title>
    <!--/tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Soft Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"/>

    <!--//tags -->
    <link href="{% static 'HR/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{% static 'HR/style.css' %}" rel="stylesheet" type="text/css" media="all"/>

    <!-- //for bootstrap working -->
    <link href="//fonts.googleapis.com/css?family=Work+Sans:200,300,400,500,600,700" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,900,900italic,700italic'
          rel='stylesheet' type='text/css'>
     <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <style>
    .inner_page_agile {
	text-align: center;
	background: url({% static 'HR/candidate.jpg' %}) no-repeat 0px 0px;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	min-height: 255px;
	padding-top: 6em;
    }
    </style>
</head>

<body>
<!-- header -->
<div class="header" id="home">
    <div class="content white agile-info">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'HR:home' %}">
                        <h1><span class="fa fa-signal" aria-hidden="true"></span> HR Management<label>System</label>
                        </h1>
                    </a>
                </div>
                <!--/.navbar-header-->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <nav class="link-effect-2" id="link-effect-2">
                        <ul class="nav navbar-nav">
                            <li><a href="{% url 'HR:home' %}" class="effect-3">Home</a></li>
                            {% if user.is_authenticated %}
                            {% if user.is_superuser %}
                             <li class="dropdown">
                                <a href="#" class="dropdown-toggle effect-3" data-toggle="dropdown">Admin<b
                                        class="caret"></b></a>
                                <ul class="dropdown-menu multi-column columns-2">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <ul class="multi-column-dropdown">

                                                <li><a href="{% url 'HR:dashboard' %}">Dashboard</a></li>
                                                <li class="divider"></li>
                                                <li><a href="{% url 'HR:complaints' %}">Complaints</a></li>
                                                <li class="divider"></li>
                                                <li><a href="{% url 'HR:feedback' %}">Feedback</a></li>

                                            </ul>
                                        </div>

                                    </div>
                                </ul>
                            </li>
                            {% else %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle effect-3" data-toggle="dropdown">Employee <b
                                        class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url 'HR:employee_profile' %}">Employee Profile</a></li>
                                    <li class="divider"></li>
                                    <li  class="active"><a href="{% url 'HR:employee_complaints' %}">Complaints</a></li>
                                    <li class="divider"></li>
                                    <li><a href="{% url 'HR:employee_feedback' %}">Feedback</a></li>


                                </ul>
                            </li>
                            {% endif %}{% endif %}


                            <li><a href="{% url 'HR:about' %}" class="effect-3">About us</a></li>

                            {% if user.is_authenticated %}
                            <li><a href="{% url 'HR:logout' %}" class="effect-3">Log Out</a></li>
                            {% else %}
                            <li><a href="{% url 'HR:login' %}" class="effect-3">Log In</a></li>
                            {% endif %}


                        </ul>
                    </nav>
                </div>
                <!--/.navbar-collapse-->
                <!--/.navbar-->
            </div>
        </nav>
    </div>
</div>

<div class="inner_page_agile">
		<h3>Complaints/Suggestions</h3>

	</div>
	<!--//banner -->
	<!--/w3_short-->
	<div class="services-breadcrumb_w3layouts">
		<div class="inner_breadcrumb">

			<ul class="short_w3ls">
				<li><a href="{% url 'HR:home' %}">Home</a><span>|</span></li>
				<li>Complaints/Suggestions<span>|</span></li>
                <li><a href="{% url 'HR:complaints' %}">My Complaints</a></li>
			</ul>
		</div>
	</div>
	<!--//w3_short-->
	<!-- /inner_content -->
	<div class="inner_content_info_agileits">
		<div class="container">
			<div class="inner_sec_grids_info_w3ls">
				<div class="clearfix"> </div>
				<div class="col-md-8 wthree_contact_center_grid"><h3>Tell us about your problems get it off your chest.</h3></div>
				<div class="w3layouts_mail_grid">
                    <div class="col-md-6-offset-3 wthree_contact_left_grid">
                        <form action="HR/employee_complaints/" method="post">{% csrf_token %}
							<input type="text" name="subject" placeholder="Subject" required=""/>
							<input type="text" name="text" placeholder="Enter you complaint/suggestions here...." required="" style="height:100px"/>
							<input type="submit" name="Submit"/>
						</form>
                    </div>

                    <ul class="pagination paging w3-agileits-paging">
						<li>
							<a href="#" aria-label="TOP">TOP
						<span aria-hidden="true"></span>
					  </a>

					</ul>
				</div>


			</div>

		</div>
	</div>


<!--Footer-->
<div class="footer_w3ls">
    <div class="container">
        <div class="footer_bottom">
            <div class="col-md-9 footer_bottom_grid">
                <div class="footer_bottom1">
                    <a href="{% url 'HR:home' %}">
                        <h2><span class="fa fa-signal" aria-hidden="true"></span> HR MANAGEMENT <label>Hr SYSTEM</label>
                        </h2>
                    </a>
                    <p>© 2018| All rights reserved | <a href="http://w3layouts.com"></a></p>
                </div>
            </div>
            <div class="col-md-3 footer_bottom_grid">
                <h6>Follow Us</h6>
                <div class="social">
                    <ul>
                        <li><a href="https://www.facebook.com/akshay.garg.1481"><i class="fab fa-facebook fa-2x"></i></a></li>
                        <li><a href="https://twitter.com/MayankJindalMJ"><i class="fab fa-twitter fa-2x"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

    </div>
</div>
<!-- //footer -->

<a href="#home" class="scroll" id="toTop" style="display: block;"> <span id="toTopHover"
                                                                         style="opacity: 1;"> </span></a>
<!-- js -->
<script type="text/javascript" src="{% static 'HR/jquery-2.1.4.min.js' %}"></script>

<script type="text/javascript" src="{% static 'HR/bootstrap.js' %}"></script>

<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}

</script>
</body>

</html>